.ThoughtCard {
  display: flex;
  flex-direction: column;
  background-color: #0a2a49;
  padding: 10px;
  border-radius: 3px;
  margin-top: 25px;
  width: 75%;
}

.title,
.body {
  background-color: transparent;
  color: #fff;
  text-align: center;
  padding: 4px 0px;
  font-weight: lighter;
}

.title {
  letter-spacing: 2px;
  font-size: 24px;
}

.buttons-container {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.delete-button, 
.edit-button {
  padding: 3px 6px;
  border-radius: 3px;
}

.title-edit-input,
.body-edit-input {
  margin: 2vh auto;
  width: 90%;    
  padding: 4px 6px;
  font-size: 12px;
}